<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h2 class="text-center"> Homepage </h2>
<h4 class="text-center"> Student </h4>
<p class="text-center"> Balance: {{ res_wallet.balance }} </p>
<p class="text-center"><a href="http://127.0.0.1:8000/tutorials/stu_search"><button class="btn btn-primary btn-sm"  type="button"> Search Tutor </button></a></p>
<p class="text-center"><a href="http://127.0.0.1:8000/tutorials/stu_view_book_session"><button class="btn btn-primary btn-sm"  type="button"> View Booked Session</button></a></p>
<h4 class="text-center" data-toggle="collapse" data-target="#demo2"> Tutor </h4>
<div id="demo2" class="collapse in">
<p class="text-center"> remaining to be developed</p>
</div>

</body>
</html>