<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h5 class="text-center"> Cancel Success!</h5>
<h5 class="text-center"> Current balance:  {{ bal }}</h5>
<p class="text-center"><a href="http://127.0.0.1:8000/tutorials/homepage"><button class="btn btn-primary"  type="button"> Back </button></a></p>

</body>
</html>