<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<h2 class="text-center">Welcome to MyTutor</h2>
<br> </br>
<p class="text-center col-sm-1 col-md-offset-5"><a href="http://127.0.0.1:8000/tutorials/login"><button type="button" class="btn btn-primary">Log In </button></a></p>
<p class="text-center col-sm-1"><a href="http://127.0.0.1:8000/tutorials/signup"><button type="button" class="btn btn-primary">Sign Up</button></a></p>
</div>
</body>
</html>